<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
    <title>Dhobiwaale</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="wrapper">

        <form action="/login" method="POST">
            <img class="logo" src="../static/img/logo.png" alt="">
            <input type="email" name="" id="" placeholder="xyz@email.com">
            <input type="password" name="" id="" placeholder="Enter Your Password">
           <!-- <div class="rem">
            <input type="checkbox" name="" id="">
   
            <label>Remember Me</label>
        </div> -->
            <input type="submit" value="Sign in">
   
            
        </form>
    </div>
</body>
</html>